 <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">

  <div class="container">
    <div class="row">
        <div class="col-lg-1">
            Sucursal:<input type="text" name="lname" ng-model="location"><br>
            Inauguración:<input type="text" name="lname" ng-model="date"><br>
            Gerente a cargo:<input type="text" name="lname" ng-model="boss"><br>
            Cadena: <input type="text" name="lname" ng-model="store"><br>
            <button type="button" ng-click="create()">
                Crear
            </button>
        </div>
    </div>
  </div>