 <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">

  <div class="container">
    <div class="row">
      <div class="col-lg-1">
          {{greet.time}}: <input type="text" name="fname" ng-model="id"><br>
          {{greet.date}}: <input type="text" name="lname" ng-model="name1"><br>
          {{greet.time}}: <input type="text" name="fname" ng-model="name2"><br>
          {{greet.date}}: <input type="text" name="lname" ng-model="lname1"><br>
          {{greet.time}}: <input type="text" name="fname" ng-model="lname2"><br>
          {{greet.date}}: <input type="text" name="lname" ng-model="residence"><br>
          {{greet.time}}: <input type="text" name="fname" ng-model="birth"><br>
          {{greet.date}}: <input type="text" name="lname" ng-model="tel"><br>
          {{greet.date}}: <input type="text" name="lname" ng-model="pad"><br>
          <button type="button" ng-click="create()">
            Crear
          </button>
      </div>
    </div>
  </div>