 <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Justified Nav Template for Bootstrap</title>
      <!-- Bootstrap core CSS -->
      <link href="bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="styles.css" rel="stylesheet">
  </head>
  <div class="container">
    <div class="row">
        <div class="col-lg-1">
            ID: <input type="text" name="fname" ng-model="id"><br>
            Nombre: <input type="text" name="lname" ng-model="name1"><br>
            Apellido: <input type="text" name="lname" ng-model="lname1"><br>
            Segundo Apellido: <input type="text" name="fname" ng-model="lname2"><br>
            Residencia: <input type="text" name="lname" ng-model="residence"><br>
            Nacimiento: <input type="text" name="fname" ng-model="birth"><br>
            Teléfono: <input type="text" name="lname" ng-model="tel"><br>
            Correo: <input type="text" name="lname" ng-model="pad"><br>
            <button type="button" ng-click="create()">
                Crear
            </button>
        </div>
    </div>
  </div>