
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">

  <style>
    .dropdown-menu {
      width: 30%;
    }

    .scrollable-menu {
      height: auto;
      max-height: 200px;
      overflow-x: hidden;
    }
  </style>


  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2 class="bold">Scrollable Menu</h2>
        <div class="btn-group">
          <button type="button" class="btn btn-default" data-toggle="dropdown">
            Options <span class="caret"></span>
          </button>
          <ul class="dropdown-menu scrollable-menu" role="menu" ng-repeat="employee in employees">
            <li><a href="#">{{}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
          {{greet.descripcion}}:<input type="text" name="fname"><br>
          {{greet.codigo}}:<input type="text" name="lname"><br>
          <button type="button" ng-click="updateClient()">
            Actualizar
          </button>
          
          
      </div>
    </div>
  </div>


